--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/

torch==2.1.0.post2
torchvision==0.16.0.post2
torchaudio==2.1.0.post2
intel-extension-for-pytorch==2.1.30+xpu
oneccl_bind_pt==2.1.300+xpu
intel-extension-for-transformers
mkl-devel-dpcpp
dpcpp-cpp-rt
mkl-devel
onemkl-sycl-blas
onemkl-sycl-lapack
onemkl-sycl-sparse
onemkl-sycl-dft
onemkl-sycl-vm
onemkl-sycl-rng
onemkl-sycl-stats
openvino
dpctl
numpy==1.26.4
gradio==4.29.0
opencv-python==4.9.0.80
onnx==1.16.0
insightface==0.7.3
psutil==5.9.6
onnxruntime==1.17.1; sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon==1.17.1; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.17.1; sys_platform != 'darwin'
tqdm==4.66.4
ftfy
regex
pyvirtualcam
